<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe支払処理キャンセル</title>
</head>
<body>
    <h1>支払処理がキャンセルました！</h1>
    <h2>3秒後に一覧画面に戻ります。</h2>
    <script>
        setTimeout(() => {
            location.href = ("/");
        }, 3000);
    </script>
</body>
</html>