<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe支払処理成功</title>
</head>
<body>
    <h1>支払処理が成功し、カート情報も削除されました！</h1>
    <h2>3秒後に一覧画面に戻ります。</h2>
    <script>
        setTimeout(() => {
            localStorage.removeItem('cartList');
            location.href = ("/");
        }, 3000);

    </script>
</body>
</html>